* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #444;
    margin: 1em;
}
input[type="text"],
input[type="submit"],
button {
    font-size: 0.9em;
    line-height: 1.2;
    padding: 0.15em 0.4em;
    border: 1px solid #444;
    border-radius: 3px;
    color: #444;
}

input[type="text"] {
    background: #fff;
    border-radius: 2px;
    width: 100%;
    max-width: 400px;
}

input[type="submit"],
button {
    background-color: #eee;
    cursor: pointer;
}

a {
    color: #06f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, p {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: normal;
}
ul {
    margin-left: 1.2em;
    padding-left: 0.5em;
}

li {
    margin: 0.25em 0;
}

header>span{
    padding-inline-end: 2px;
    margin-inline-end: 2px;
    border-right: 1px solid #444;
}